<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group5.sebmnotificationservice.dao.NotificationTaskMapper">

    <resultMap id="BaseResultMap" type="com.group5.sebmmodels.entity.NotificationTaskPo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="LONGVARCHAR"/>
        <result property="notificationRole" column="notificationRole" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, content, notificationRole, createTime, updateTime
    </sql>

    <!-- 根据角色查询通知任务 -->
    <select id="selectByRole" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM notificationTask
        WHERE notificationRole = #{notificationRole}
        ORDER BY createTime DESC
    </select>

</mapper>

